*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mapMetros, #mapBuses {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}